<div class="max-w-xl p-6 mx-auto text-white bg-gray-900 rounded-lg shadow-md">
  <h2 class="mb-4 text-2xl font-bold">Añadir nuevo artículo</h2>

  <form [formGroup]="itemForm" (ngSubmit)="guardarItem()">
    <!-- Nombre -->
    <div class="mb-4">
      <label class="block text-sm font-medium">Nombre</label>
      <input type="text" formControlName="nombre"
        class="w-full p-2 text-white bg-gray-800 border border-gray-600 rounded-md">
      <small *ngIf="itemForm.controls.nombre.invalid && itemForm.controls.nombre.touched" class="text-red-500">Nombre
        requerido</small>
    </div>

    <!-- Categoría -->
    <div class="mb-4">
      <label class="block text-sm font-medium">Categoría</label>
      <select formControlName="categoria" class="w-full p-2 text-white bg-gray-800 border border-gray-600 rounded-md">
        <option value="funkos">Funkos</option>
        <option value="legos">Legos</option>
        <option value="figuras">Figuras</option>
        <option value="pez">Pez</option>
        <option value="juegos">Juegos</option>
      </select>
      <small *ngIf="itemForm.controls.categoria.invalid && itemForm.controls.categoria.touched"
        class="text-red-500">Selecciona una categoría</small>
    </div>

    <!-- Año de compra -->
    <div class="mb-4">
      <label class="block text-sm font-medium">Año de compra</label>
      <input type="text" formControlName="anoCompra"
        class="w-full p-2 text-white bg-gray-800 border border-gray-600 rounded-md">
      <small *ngIf="itemForm.controls.anoCompra.invalid && itemForm.controls.anoCompra.touched" class="text-red-500">Año
        inválido</small>
    </div>

    <!-- Imagen -->
    <div class="mb-4">
      <label class="block text-sm font-medium">Imagen</label>
      <input type="file" (change)="subirImagen($event)"
        class="w-full p-2 text-white bg-gray-800 border border-gray-600 rounded-md">
      <div *ngIf="imageUrl" class="mt-2">
        <img [src]="imageUrl" class="object-cover w-32 h-32 rounded-md">
      </div>
      <small *ngIf="itemForm.controls.imagen.invalid && itemForm.controls.imagen.touched" class="text-red-500">Sube una
        imagen</small>
    </div>

    <!-- Descripción -->
    <div class="mb-4">
      <label class="block text-sm font-medium">Descripción (opcional)</label>
      <textarea formControlName="descripcion"
        class="w-full p-2 text-white bg-gray-800 border border-gray-600 rounded-md"></textarea>
    </div>

    <!-- Botón de Guardar -->
    <button type="submit" class="w-full p-2 text-white bg-blue-600 rounded-md hover:bg-blue-700"
      [disabled]="itemForm.invalid || loading">
      {{ loading ? 'Guardando...' : 'Guardar' }}
    </button>
  </form>
</div>